//light theme
$bg: #F0F0F0;
$box: #FFFFFF;

//text
$text: #5E5E5E;
$text-secondary: #ABABAB;
$text-subtitle: #989898;
$text-block: #000000;

//button
//text
$button-text-active: #5E5E5E;
$button-text-disabled: #BCBCBC;
$button-text-hover: #898989;

//button
//box
$button-hover-bg: rgba(#6FB9D9, .2);
$button-selected-bg: rgba(#87D3D3, .3);

//primary
$primary: #32ACE0;
$primary-bg: #86E0E0;

//divider
$divider: #DBDBDB;
$divider-board: #C4C4C4;
$divider-table: #E9E9E9;

//table
//head
$table-head-bg: #F5F5F5;
$table-head-text: #2D2D2D;

//table
//body
$table-body-bg: #FEFEFE;

//stock
$stock-red: #D90000;
$stock-blue: #0064DA;

//warning
$warning:#be2000;