@import 'colors';
@import 'function';

.blind {
    position:absolute;
    overflow:hidden;

    font-size:0;
    text-indent:-99999999px;
}

.stock {
    font-family: 'Roboto', sans-serif;
    
    &[data-sign^="+"] {
        color:$stock-red;
    }
    &[data-sign=""] {
        color:$text-subtitle;
    }
    &[data-sign^="-"] {
        color:$stock-blue;
    }
}
.change {
    @extend .stock;
    display:inline-block;

    font-weight:500;
    vertical-align:middle;

    .percent {
        display:inline-block;
        margin:-.15em 0 0 .2em;
        padding:0 .2em;
    
        border-radius:radius(.2);
        color:$bg;
        line-height:1.2;
        vertical-align:middle;
    }
    
    &[data-sign^="+"] .percent {
        background-color:rgba($stock-red, .8);
    }
    &[data-sign=""] .percent {
        @extend .blind;
    }
    &[data-sign^="-"] .percent {
        background-color:rgba($stock-blue, .8);
    }
}

.iconDollar {
    margin:-.2em 0 0 .1em;

    color:inherit;
    font-size:icon(.7) !important;
    vertical-align:middle;
}

.button-init {
    margin:0;
    padding:0;

    background-color:transparent;
    border:0;
    color:$text !important;
    cursor:pointer;
    text-align:center;

    &:hover {
        background-color:$button-hover-bg !important;
        color:$button-text-hover !important;
    }
}

a.button-init {
    text-decoration:none;
}

.MuiButtonBase-root,
.MuiButton-root {
    @extend .button-init;
}

.box {
    background-color:$box;
    border-radius:radius(.5);
}

.processing,
:disabled {
    opacity:.5 !important;
    cursor:not-allowed;
    pointer-events: auto;
}

[aria-progress] {
    position:relative;
}
.processing {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    background-color:rgba($box, .6);

    .icon {
        @extend .box;

        position:absolute;
        top:calc(50% - 1.2rem);
        left:50%;
        z-index:2;
        padding:.5rem .8rem;

        background-color:$warning;
        color:$box;
        content:'';
        font-weight:700;
        font-size:1.5rem;
        line-height:1;
        opacity:.8;
        transform:translateX(-50%) rotate(4deg);
        white-space:nowrap;

        svg {
            display:inline-block;
            margin-top:-.2em;

            vertical-align:middle;
        }
    }
}