@import 'function';
@import 'common';

.tabsContainer {
    position:sticky;
    top:0;
    z-index:2;
    overflow:hidden;
    margin:0 -.6rem;

    background-color:$box;
    border-bottom:1px solid $divider-board;

    @media screen and (min-width:1200px) {
        border-top-left-radius:radius(.5);
        border-top-right-radius:radius(.5);
    }

    .tabs {
        :global .MuiTabs-flexContainer {
            & > button {
                min-width:20%;

                font-size:1.01rem;
                white-space:nowrap;

                &[aria-selected="true"] {
                    color:$primary;
                    font-weight:700;
                }
            }
        }

        :global .MuiTabs-indicator {
            height:auto;

            background-color:transparent;

            &:before {
                display:block;
                width:1rem;
                height:4px;
                margin:0 auto;

                background-color:$primary;
                content:'';
            }
        }
    }
}